VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=mezzters-golf-core.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=mezzters-golf-core
VITE_FIREBASE_STORAGE_BUCKET=mezzters-golf-core.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
